@model SisalrilProject.Models.Trabajadore

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Trabajadores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTrabajador" />
            <div class="form-group">
                <label asp-for="TrabajadorNombre" class="control-label"></label>
                <input asp-for="TrabajadorNombre" class="form-control" />
                <span asp-validation-for="TrabajadorNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrabajadorTarifa" class="control-label"></label>
                <input asp-for="TrabajadorTarifa" class="form-control" />
                <span asp-validation-for="TrabajadorTarifa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oficio" class="control-label"></label>
                <input asp-for="Oficio" class="form-control" />
                <span asp-validation-for="Oficio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrabajadorSupervisor" class="control-label"></label>
                <input asp-for="TrabajadorSupervisor" class="form-control" />
                <span asp-validation-for="TrabajadorSupervisor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-primary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
