@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>welcome to the sisalril data management project by Alexandro Reynoso</a>.</p>
</div>

